<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Submitted Proposal</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
     <a href="proposal_new"><button type="button" class="btn btn-sm btn-outline-secondary"> Approved or Reject Proposal</button></a>
    </div>
  </div>
</div>
<div>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">TITLE</th>
      <th scope="col">TIMESTAMP</th>
      <th scope="col">APPROVED</th>
      <th scope="col">DISAPPROVED</th>
      <th scope="col"></th>
    </tr>
  </thead>
 
  <tbody>
    {{#each proposal}}
    <tr>
      <th scope="row">{{this.proposal_id}}</th>
      <td>{{this.title}}</td>
      <td>{{this.timestamp}}</td>
      <td>{{this.count}}</td>
      <td>{{this.disapproved}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>